@model Proyecto_RadixWeb.Models.MultiplesClases

@{
    ViewBag.Title = "Index";
}

<div id="contenido_vista">


    
    <div class="col-sm-12 col-md-12 col-lg-12 ml-5">
        <div class="row">

            <div class="card col-sm-3 col-md-3 border-success mb-3">

                <div class="card-body">
                    <h5 class="card-title">Sectores</h5>
                    <a href="@Url.Action("Index", "Sectores", new { subemp_id = ViewBag.subemp_id })" class="btn btn-success col-sm-12 col-md-12 mt-1">Ver Información</a>

                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>

            <div class="card col-sm-3 col-md-3 border-success mb-3">

                <div class="card-body">
                    <h5 class="card-title">Lista Trabajadores</h5>
                    <a href="@Url.Action("Index", "Contratos", new { subemp_id = ViewBag.subemp_id })" class="btn btn-success col-sm-12 col-md-12 mt-1">Ver Información</a>

                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <div class="card col-sm-3 col-md-3 border-success mb-3">

                <div class="card-body">
                    <h5 class="card-title">Lista Frutas</h5>
                    <a href="@Url.Action("Index", "Cuarteles", new { subemp_id = ViewBag.subemp_id })" class="btn btn-success col-sm-12 col-md-12 mt-1">Ver Información</a>

                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>

        </div>



    </div>


    
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {

        $('#contenido_vista').appendTo('#contenido_general');
    });

</script>

