<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">


</head>

<body>

    <div class="container">
        <div id="chartContainer">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var datos = [
                { label: "Comalle", y: 5 },
                { label: "Rincon", y: 2 },
                { label: "Teno", y: 3 }
            ]

            var d = [];

            obtener();
            function obtener() {
                d = []
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetSubEmpresaDatos", "SubEmpresas")',
                    datatype: JSON,
                    success: function (data) {
                        $.each(data, function (i, v) {
                            d.push({
                                y: v.Contar_SubEmpresa,
                                label: v.Emp_nom
                            });
                        });

                        CrearCanvas(d);
                    },
                    error: function (error) {
                        alert('Error en cargar');
                    }

                });
            }

            function CrearCanvas(d) {

                var chart = new CanvasJS.Chart("chartContainer", {
                    title: {
                        text: "Cargos Por Empresa"
                    },

                    data: [  //array of dataSeries
                        { //dataSeries - first quarter
                            /*** Change type "column" to "bar", "area", "line" or "pie"***/
                            type: "column",
                            dataPoints: d
                        }
                    ]
                });

                chart.render();
            }
        });
    </script>

</body>

</html>




