@model Proyecto_RadixWeb.Models.MultiplesClases

@{
    ViewBag.Title = "Index Sectores";
}
<link href="~/Content/css/dashboard/app.css" rel="stylesheet" />

<div id="contenido_vista" @*style="margin-top: 10%;margin-left:10%"*@>
    <article class="content responsive-tables-page">
        <div class="title-block">
            <div class="">
            </div>
            <div class="col col-xs-12 col-md-9 col-lg-9">
                <h1 class="title" style="text-align:center"><i class="fas fa-map-marked-alt"></i>   Sectores de la empresa @ViewBag.empresa </h1>
            </div> 
     
        </div>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">

                            </div>
                            <section class="example">
                                <div class="table-flip-scroll">
                                    <table class="table table-striped table-bordered table-hover flip-content">
                                        <thead class=" thead-inverse">
                                            <tr>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>Ubicacion</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                @foreach (var item in Model.ObjESectores)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.sect_nom)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.subempresas.Sub_Nom)
                                                    </td>
                                               
                                                </tr>
                                            }


                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>



    </div>
    



    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>

    $(document).ready(function () {

        $('#contenido_vista').appendTo('#contenido_general');
    });
    $(".sectoreliminar").on("click", function () {

        $("#sect_id").val($(this).attr("id"));
        var nom = $(this).attr("name");
        document.getElementById("nombresector").innerHTML = nom;
        //$("#nombresector").val($(this).attr("name"));
    });
    </script>