@model IEnumerable<Proyecto_RadixWeb.Models.subempresas>
@{
    ViewBag.Title = "DashBoardAdmin";
}

<br />
<br />
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-arrow-down"></i> Primera vez aqui? Sigue estos pasos para configurar todo - Tutorial

                <div class="card-footer small text-muted">

                    <div style="float:left;">
                        <script type="text/javascript">
                            //<![CDATA[
                            function makeArray() {
                                for (i = 0; i < makeArray.arguments.length; i++)
                                    this[i + 1] = makeArray.arguments[i];
                            }
                            var months = new makeArray('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
                                'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre');
                            var date = new Date();
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var yy = date.getYear();
                            var year = (yy < 1000) ? yy + 1900 : yy;
                            document.write("Hoy es " + day + " de " + months[month] + " del " + year);
                            //]]>
                        </script>
                    </div>
                    <script type="text/javascript">
                        function startTime() {
                            today = new Date();
                            h = today.getHours();
                            m = today.getMinutes();
                            s = today.getSeconds();
                            m = checkTime(m);
                            s = checkTime(s);
                            document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
                            t = setTimeout('startTime()', 500);
                        }
                        function checkTime(i) { if (i < 10) { i = "0" + i; } return i; }
                        window.onload = function () { startTime(); }
                    </script>
                    <div id="reloj" style="font-size:15px;float:right;"></div>

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @*<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTY2OWFjMTMtZWU3Zi00OTIwLTgyNWYtNWQ0ODVkNzhkOTcyIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>*@
                    <h1>Realiza lo siguiente.</h1>
                    <br />
                    @if (ViewBag.empresa == "teno")
                    {
                        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZDRjMmRhYTctODdjMC00YjU4LTk3Y2EtZmE0MDA1NDBkMmYyIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                    }
                    @if (ViewBag.empresa == "Comalle Frut")
                    {
                        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZTkyZjQxZjUtOWQzZi00NWNlLWEyNWQtNGE4YWU0NDczM2EzIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

                    }  @if (ViewBag.empresa == "Rincon")
                    {
                        <iframe width="1024" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiOTliNjJkNmMtNTUyZS00ZmIwLWJjOGUtMmIyYTdhODdkZGE1IiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

                    }  @if (ViewBag.empresa == "Molina Frut")
                    {

                    }  @if (ViewBag.empresa == "Radix")
                    {

                    }


                </div>
            </div>


        </div>

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quieres cerrar tu sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Estas seguro de cerrar tu sesión?.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Si.Cerrar Sesión</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- File Modal-->
</br>
    </br>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-arrow-down"></i> Primera vez aqui? Sigue estos pasos para configurar todo - Tutorial
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @*<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTY2OWFjMTMtZWU3Zi00OTIwLTgyNWYtNWQ0ODVkNzhkOTcyIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>*@
                    <h1>Realiza lo siguiente.</h1>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="card-footer small text-muted">

                <div style="float:left;">
                    <script type="text/javascript">
                        //<![CDATA[
                        function makeArray() {
                            for (i = 0; i < makeArray.arguments.length; i++)
                                this[i + 1] = makeArray.arguments[i];
                        }
                        var months = new makeArray('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
                            'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre');
                        var date = new Date();
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var yy = date.getYear();
                        var year = (yy < 1000) ? yy + 1900 : yy;
                        document.write("Hoy es " + day + " de " + months[month] + " del " + year);
                        //]]>
                    </script>
                </div>
                <script type="text/javascript">
                    function startTime() {
                        today = new Date();
                        h = today.getHours();
                        m = today.getMinutes();
                        s = today.getSeconds();
                        m = checkTime(m);
                        s = checkTime(s);
                        document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
                        t = setTimeout('startTime()', 500);
                    }
                    function checkTime(i) { if (i < 10) { i = "0" + i; } return i; }
                    window.onload = function () { startTime(); }
                </script>
                <div id="reloj" style="font-size:15px;float:right;"></div>




            </div>

        </div>

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quieres cerrar tu sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Estas seguro de cerrar tu sesión?.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Si.Cerrar Sesión</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- File Modal-->




















</div>








