<link href="~/Content/css/dashboard/app.css" rel="stylesheet" />
<div id="contenido_vista" style="margin-top: 10%;margin-left:10%">
    <div class="card mb-3 mt-2">
        <article class="content dashboard-page">

            <section class="section">
                <div class="row sameheight-container" style="margin-top: -10%;">


                    <iframe width="900" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiYjMwYTQyZGMtZjI5Ny00YjBkLWEwOTctNTMyZjE0MzVjMjA1IiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>                    
                </div>
            </section>
          
        </article>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#contenido_vista').appendTo('#contenido_general');
    });
</script>
