@{
    ViewBag.Title = "Home2";
}


<!-- header
  ================================================== -->
<header>

    <div class="row">

        <div class="logo">
            <a href="">Radix</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll" href="#intro" title="">Inicio</a></li>
                <li><a class="smoothscroll" href="#process" title="">Procesos</a></li>
                <li><a class="smoothscroll" href="#features" title="">Servicio</a></li>
                <li><a class="smoothscroll" href="#pricing" title="">Precios</a></li>
                <li><a class="smoothscroll" href="#faq" title="">Preguntas Frecuentes</a></li>
                @*<li class="highlight with-sep"><a href="#" title="">Sign Up</a></li>*@
                <li class="highlight with-sep"><a class="highlight with-sep" id="log" href="#ex1" data-toggle="modal" data-target="#MiModal">Iniciar Sesion</a></li>
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>

    </div>

</header> <!-- /header -->
<!-- intro section
================================================== -->
<section id="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-lg-12 col-sm-12">

                <div class='video-link'>
                    <a href="#video-popup"><img src="~/PaginaHome/images/play-button.png" alt=""></a>
                </div>

                <h5>Bienvenido a Radix.</h5>
                <h1> Gusto en conocerte.</h1>

                <a class="button stroke smoothscroll" href="#process" title="" style="font-size:25px;color:white">Saber Más</a>

            </div>

        </div>
    </div>

    <!-- Modal Popup
    ========================================================= -->

    <div id="video-popup" class="popup-modal mfp-hide col-12" style="text-align:center ">
        r"
        <div class="fluid-video-wrapper">
            <iframe src="https://vimeo.com/23608259?title=0&amp;byline=0&amp;portrait=0&amp;color=faec09" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <a class="close-popup">Cerrar</a>

    </div> <!-- /video-popup -->

</section> <!-- /intro -->
<!-- Process Section
================================================== -->
<section id="process">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h2>Que hacemos?</h2>
            <h1>Como trabajamos?</h1>

            <p style="color:dimgrey" class="lead">Con nuestro servicio podras control tu empresa a traves de nuestra pagina web, logrando asi poder llevar el control de tus recursos. Ademas utilizaremos nuestra aplicacion movil para controlar su recoleccion de cosechas y asi conseguir un analisis de la produccion. </p>

        </div>
    </div>
    <div class="image-part"></div>
    <div class="row process-content">

        <div class="left-side">

            <div class="item" data-item="1">

                <h5>Inicio de sesión</h5>

                <p> El ingreso a la aplicacion sera de uso esclusivo para las empresas que nos hayan contratado, éste se realizara a traves de un inicio de sesión cuyas credenciales seran la empresa, su usuario y su contraseña.</p>

            </div>

            <div class="item" data-item="2">

                <h5>Escaneo de codigos Qr</h5>

                <p>A la empresa contratista se le hara entrega de codigos Qr los cuales deben ser solicitados por la empresa con una cantidad en especifico, para asi luego utilizarls para identificar bandejas, bins o capachos. Logrando asi llevar el control total de las cosechas.</p>

            </div>

        </div> <!-- /left-side -->

        <div class="right-side">

            <div class="item" data-item="3">

                <h5>Asistencia</h5>

                <p>La aplicacion movil llevara el control de asistencia de los trabajadres que esten cosechando. Esto se llevara a cabo siempre y cuando el trabajador haga su primera entrega del día.</p>

            </div>

            <div class="item" data-item="4">

                <h5>Trabajadores</h5>

                <p>Se llevara el control de los trabajdores que esten realizando cosechas, con esto se podra ver cuantas bandejas lleva, donde esta ubicado y si tiene contrato. </p>

            </div>

        </div> <!-- /right-side -->



    </div> <!-- /process-content -->

</section> <!-- /process-->
<!-- features Section
================================================== -->
<section id="features">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h3>Caracterristicas del servicio</h3>
            <h1>Great features you'll love.</h1>

            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

        </div>
    </div>

    <div class="row features-content">

        <div class="features-list block-1-3 block-s-1-2 block-tab-full group">

            <div class="bgrid feature">

                <span class="icon"><i class="icon-window"></i></span>

                <div class="service-content">

                    <h3 class="h05">Servicio Web</h3>

                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>

                </div>

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-eye"></i></span>

                <div class="service-content">
                    <h3 class="h05">Control de los recursos</h3>

                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>


                </div>

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-gift"></i></span>

                <div class="service-content">
                    <h3 class="h05">Capacitaciones y Asesoria</h3>

                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>


                </div>

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-file"></i></span>

                <div class="service-content">
                    <h3 class="h05">Documentos digitales</h3>

                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>


                </div>

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-layers"></i></span>

                <div class="service-content">
                    <h3 class="h05">Easy To Customize</h3>

                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>


                </div>

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-paint-brush"></i></span>

                <div class="service-content">
                    <h3 class="h05">Free of Charge</h3>

                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>

                </div>

            </div> <!-- /bgrid -->

        </div> <!-- features-list -->

    </div> <!-- features-content -->

</section> <!-- /features -->
<!-- pricing
================================================== -->

<section id="pricing">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Nuestros Planes</h5>
            <h1>Elige el mejor plan para ti.</h1>

            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

        </div>
    </div>

    <div class="row pricing-content">

        <div class="pricing-tables block-1-4 group">
            <link href="~/PaginaHome/css/planes.css" rel="stylesheet" />
            <div class="bgrid">

                <div class="price-block">

                    <div class="top-part">

                        <h3 class="plan-title">Basico</h3>
                        <p class="plan-price"><sup>$</sup>49.990</p>
                        <p class="price-month">Mensual</p>
                        <p class="price-meta">
                            Facturado anualmente.
                        </p>

                    </div>

                    <div class="bottom-part">

                        <ul class="features">
                            <li><strong style="color:orange">100</strong> <h7 style="color:white">Documentos</h7></li>
                            <li><strong style="color:orange">10 Horas</strong> <h7 style="color:white">Capacitacion</h7></li>
                            <li><strong style="color:orange">30</strong><h7 style="color:white"> Cuentas de trabajadores</h7></li>
                            <li><strong style="color:orange">130</strong> <h7 style="color:white"> Codigos Qr</h7></li>
                            <li><strong style="color:orange">0</strong><h7 style="color:white"> Sucursales</h7> </li>
                            <li><strong style="color:orange">Si</strong><h7 style="color:white"> Acceso a la aplicacion</h7></li>
                            <li><strong style="color:orange">Si</strong><h7 style="color:white"> Asesoria</h7></li>
                        </ul>

                        <input type="submit" value="Me interesa" class="btn btn-primary " style="font-size: 22px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" />


                    </div>

                </div>

            </div> <!-- /price-block -->

            <div class="bgrid">

                <div class="price-block primary">

                    <div class="top-part" data-info="Recomendado">

                        <h3 class="plan-title">Estandar</h3>
                        <p class="plan-price"><sup>$</sup>99.990</p>
                        <p class="price-month">Mensual</p>
                        <p class="price-meta">
                            Facturado anualmente.
                        </p>

                    </div>

                    <div class="bottom-part">

                        <ul class="features">
                            <li><strong style="color:orange">300</strong> <h7 style="color:white">Documentos</h7></li>
                            <li><strong style="color:orange">30 Horas</strong> <h7 style="color:white">Capacitacion</h7></li>
                            <li><strong style="color:orange">50</strong><h7 style="color:white"> Cuentas de trabajadores</h7></li>
                            <li><strong style="color:orange">250</strong> <h7 style="color:white"> Codigos Qr</h7></li>
                            <li><strong style="color:orange">2</strong><h7 style="color:white"> Sucursales</h7> </li>
                            <li><strong style="color:orange">Si</strong><h7 style="color:white"> Acceso a la aplicacion</h7></li>
                            <li><strong style="color:orange">Si</strong> <h7 style="color:white">Asesoria</h7></li>
                        </ul>




                        <input type="submit" value="Me interesa" class="btn btn-primary " style="font-size: 22px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" />
                    </div>

                </div>

            </div> <!-- /price-block -->

            <div class="bgrid">

                <div class="price-block">

                    <div class="top-part">

                        <h3 class="plan-title">Premium</h3>
                        <p class="plan-price"><sup>$</sup>149.990</p>
                        <p class="price-month">Mensual</p>
                        <p class="price-meta">Facturado anualmente.</p>

                    </div>

                    <div class="bottom-part">

                        <ul class="features">
                            <li><strong style="color:orange">600</strong> <h7 style="color:white">Documentos</h7></li>
                            <li><strong style="color:orange">50 Horas</strong> <h7 style="color:white">Capacitacion</h7></li>
                            <li><strong style="color:orange">100</strong><h7 style="color:white"> Cuentas de trabajadores</h7></li>
                            <li><strong style="color:orange">400</strong> <h7 style="color:white"> Codigos Qr</h7></li>
                            <li><strong style="color:orange">3</strong><h7 style="color:white"> Sucursales</h7> </li>
                            <li><strong style="color:orange">Si</strong><h7 style="color:white"> Acceso a la aplicacion</h7></li>
                            <li><strong style="color:orange">Si</strong> <h7 style="color:white">Asesoria</h7></li>

                        </ul>

                        <input type="submit" value="Me interesa" class="btn btn-primary " style="font-size: 22px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" />


                    </div>

                </div>

            </div> <!-- /price-block -->



        </div> <!-- /pricing-tables -->

    </div> <!-- /pricing-content -->

</section> <!-- /pricing -->
<!-- faq
================================================== -->
<section id="faq">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Faq</h5>
            <h1>Preguntas y Respuestas.</h1>

            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

        </div>
    </div>

    <div class="row faq-content">

        <div class="q-and-a block-1-2 block-tab-full group">

            <div class="bgrid">

                <h3>Que hace la aplicacion movil?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Como es su servicio post-venta?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Cual es la version de Android necesaria?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Puedo contratar el plan basico y luego contratar le plan premium?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Cuanto tiempo pueod estar sin pagar?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Que asesoria prestan o como funciona eso?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

            </div>

        </div> <!-- /q-and-a -->

    </div> <!-- /faq-content -->

</section> <!-- /faq -->
<!-- footer
================================================== -->
<footer>

    <div class="footer-main">

        <div class="row">

            <div class="col-four tab-full mob-full footer-info">

                <div class="footer-logo"></div>

                <p>
                    <br>
                    Curicó,Chile<br>
                    Correo: xxx@xxx.com &nbsp; +123-456-789
                </p>

            </div> <!-- /footer-info -->

            <div class="col-two tab-1-3 mob-1-2 site-links">

                <h4>Site Links</h4>

                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terminos</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                </ul>

            </div> <!-- /site-links -->

            <div class="col-two tab-1-3 mob-1-2 social-links">

                <h4>Social</h4>

                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Skype</a></li>
                </ul>

            </div> <!-- /social -->

            <div class="col-four tab-1-3 mob-full footer-subscribe">

                <h4>Subscribete</h4>

                <p>Mantente informado. Suscribete y recibe noticias sobre nosotros.</p>

                <div class="subscribe-form">

                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Ingresa email &amp; presiona ENTER" required="">

                        <input type="submit" name="subscribe">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>

                </div>

            </div> <!-- /subscribe -->

        </div> <!-- /row -->

    </div> <!-- /footer-main -->


    <div class="footer-bottom">

        <div class="row">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Radix 2018.</span>

                </div>

                <div id="go-top" style="display: block;">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
                </div>
            </div>

        </div> <!-- /footer-bottom -->

    </div>

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!-- Java Script
================================================== -->
<script src="~/PaginaHome/js/jquery-1.11.3.min.js"></script>
<script src="~/PaginaHome/js/jquery-migrate-1.2.1.min.js"></script>
<script src="~/PaginaHome/js/plugins.js"></script>
<script src="~/PaginaHome/js/main.js"></script>
<script src="~/Scripts/Layout/jquery.min.js"></script>
<script src="~/Scripts/Layout/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/Scripts/Layout/jquery.easing.min.js"></script>
<!-- Contact form JavaScript -->
<script src="~/Scripts/Layout/jqBootstrapValidation.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4893307.js"></script>

<!-- Modal -->
<div class="modal fade" id="MiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel" style="margin-left: 40%">
                    Bienvenido
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formulario_login">
            </div>
        </div>
    </div>
</div>
<script>

    $('#log').click(function () {


        $('#formulario_login').load('/Account/Modal_Login');

    });

</script>