@{
    ViewBag.Title = "";
}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Radix</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="~/PaginaHome/css/base.css" rel="stylesheet" />
    <link href="~/PaginaHome/css/main.css" rel="stylesheet" />
    <link href="~/PaginaHome/css/vendor.css" rel="stylesheet" />



    <!-- script
    ================================================== -->
    <script src="~/PaginaHome/js/modernizr.js"></script>
    <!-- favicons
     ================================================== -->
    <link rel="icon" type="image/png" href="~/PaginaHome/js/favicon.png">
</head>

<body id="top">
    @RenderBody()
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4893307.js"></script>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <div class="modal fade" id="MiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="formulario_login">
                </div>
            </div>
        </div>
    </div>
    <script>

        $('#log').click(function () {


            $('#formulario_login').load('/Account/Modal_Login');

        });</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>

</html >
