<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <title>RadixWeb</title>

    <meta name="description" content="Control y Analisis - Pymes Agricolas">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Damian Diaz-Michel Valenzuela">
    <link href="~/PaginaHome/css/home.css" rel="stylesheet" />
    <script>

        var scroll = new SmoothScroll('a[href*="#"]', {
            // Function. Custom easing pattern
            // If this is set to anything other than null, will override the easing option above
            customEasing: function (time) {

                // return <your formulate with time as a multiplier>

                // Example: easeInOut Quad
                return time < 0.5 ? 2 * time * time : -1 + (4 - 2 * time) * time;

            }
        });


    </script>
  
</head>
<body data-spy="scroll" data-target="#menu1">
    @RenderBody()
    <!--NAV-->
    <div id="menu1" class="container-fluid navbar-light fixed-top text-center" style="background-color: #0000008e;">
        <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-ligth sticky-top container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-align-justify ml-auto" style="color:white;"></span>
            </button>
            <a class="navbar-brand ml-auto d-sm-block d-md-block d-lg-none" href="#">
                <img src="~/PaginaHome/images/Logo_Radix_v3.png" width="120"
                     height="50" class="d-incline-block align top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-center ">
                    <li id="btn" class="nav-item active">
                        <a data-scroll class="nav-link text-white " href="#seccion1">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="btn1" class="nav-item">
                        <a data-scroll class="nav-link text-white " href="#servicios" aria-pressed="true">Servicios</a>
                    </li>
                    <li id="btn2" class="nav-item">
                        <a data-scroll class="nav-link text-white " href="#caracteristicas">Caracteristicas</a>
                    </li>
                    <li id="btn3" class="nav-item">
                        <a data-scroll class="nav-link text-white " href="#precios">Precios</a>
                    </li>
                    <li id="btn4" class="nav-item">
                        <a data-scroll class="nav-link text-white " href="#noticias">Novedades</a>
                    </li>
                </ul>
                <a class="navbar-brand d-none d-xl-block d-lg-block" href="#">
                    <img src="~/PaginaHome/images/Logo_Radix_v3.png" width="120"
                         height="50" class="d-incline-block align top" alt="">
                </a>
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item ">
                        <a class="nav-link text-white mr-2 " href="#" data-toggle="modal" data-target="#exampleModal">
                            Login
                            / Register
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <form class="form-inline my-2 my-lg-0 justify-content-center">
                        <button class="btn btn-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#contacto">
                            Contactanos
                        </button>
                    </form>
                </ul>

            </div>
        </nav>
    </div>
    <!--FIN NAV-->
    <!-- slider-->
    <section id="seccion1">
        <div class="container-fluid slider d-flex flex-column justify-content-center align-items-center bg-dark">
            <div class="text-center text-white">
                <h3>Bienvenidos</h3>
                <h1 class="display">Somos Radix</h1>
                <p class="lead d-none d-sm-block"></p>Si quieres recibir noticas sobre nosotros suscrebete.</p>
            </div>
            <form action="" class="form-inline text-center d-flex flex-column flex-sm-row">
                <div class="form-group mr-1">
                    <input type="text" placeholder="Ingresa tu email" class="form-control text-center" required
                           autofocus>
                </div>
                <div class="form-group mr-0">
                    <input type="submit" value="Enviar" class="btn btn-danger ">
                </div>
            </form>
        </div>
        <!--fin slider    -->
    </section>
    <!--fin slider-->
    <!--Servicios-->
    <section id="servicios" class="  mb-5 sep">
        <!--main-->
        <div class="container">
            <div class="heading">
                <h2>Nuestros <strong> Servicios</strong></h2>
                <p>Logra avanzar</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xsx-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fas fa-qrcode"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Implementacion QR</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xsx-6">
                        <div class="serviceBox orange">
                            <div class="service-icon">
                                <span><i class="fas fa-chalkboard-teacher"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Capacitacion</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xsx-6">
                        <div class="serviceBox green">
                            <div class="service-icon">
                                <span><i class="fab fa-envira"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Control de cosecha</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xsx-6">
                        <div class="serviceBox mora">
                            <div class="service-icon">
                                <span><i class="fas fa-chart-line"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Estadisticas</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xsx-6">
                        <div class="serviceBox ama">
                            <div class="service-icon">
                                <span><i class="fas fa-users"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Control de personal</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xsx-6">
                        <div class="serviceBox red">
                            <div class="service-icon">
                                <span><i class="fas fa-tasks"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Control de horarios</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xsx-6">
                        <div class="serviceBox blue">
                            <div class="service-icon">
                                <span><i class="fas fa-shield-alt"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Roles y Responsabilidades</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xsx-6">
                        <div class="serviceBox orange">
                            <div class="service-icon">
                                <span><i class="fas fa-handshake"></i></span>
                            </div>
                            <div class="service-content">
                                <h3 class="title">Asesoria</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    in volutpat elit. Class aptent taciti.
                                </p>
                                <a href="#" class="read-more fa fa-plus" data-toggle="tooltip" title="Read More"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--fin main  -->
    </section>
    <!--Fin servicios-->
    <!--caracteristicas-->
    <section id="caracteristicas" class="mb-5" style="padding:30px">
        <!--CARD CON FOTO-->
        <div class="container">
            <div class="heading">
                <h2><strong> Caracteristicas</strong></h2>
                <p>Nos caraterizamos por pensar en nuestros clientes</p>
            </div>
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-1">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-2">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-3">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-4">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-5">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-6">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    </section>
    <!--fin caracteristicas -->
    <!--team-->
    <section id="team" class="pb-5 sep">
        <div class="container">
            <div class="heading">
                <h2>Nuestro <strong> Equipo</strong></h2>
                <p>Los integrantes que cualquier equipo necesitara</p>
            </div>
            <div class="row mt-5">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img src="~/PaginaHome/images/avatars/1.png" alt="" class="img-fluid team rounded-circle img-thumbnail"
                                                 height="100px" width="100px">
                                        </p>
                                        <h4 class="card-title">Michel Valenzuela</h4>
                                        <p class="card-text">Jefe de Proyecto / Analista / Desarrollador.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Michel Valenzuela</h4>
                                        <p class="card-text">
                                            This is basic card with image on top, title, description
                                            and button.This is basic card with image on top, title, description and
                                            button.This is basic card with image on top, title, description and button.
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-facebook-f mx-2"></i>
                                                </a>
                                            </li>

                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-youtube mx-2"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-twitter mx-2"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-instagram mx-2"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img src="~/PaginaHome/images/avatars/2.png" alt="" class="img-fluid team rounded-circle img-thumbnail"
                                                 height="100px" width="100px">
                                        </p>
                                        <h4 class="card-title">Damian Diaz</h4>
                                        <p class="card-text">Desarrollador / DBA / Tester.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Damian Diaz</h4>
                                        <p class="card-text">
                                            This is basic card with image on top, title, description
                                            and button.This is basic card with image on top, title, description and
                                            button.This is basic card with image on top, title, description and button.
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-facebook-f mx-2"></i>
                                                </a>
                                            </li>

                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-youtube mx-2"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-twitter mx-2"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-instagram mx-2"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
            </div>
        </div>
    </section>
    <!--fin team-->
    <!--precios-->
    <section id="precios" class="sep">

        <div class="container-fluid p-5">
            <div class="heading">
                <h2>Nuestros <strong> Planes</strong></h2>
                <p>La eleccion es tuya.</p>
            </div>
            <div class="container mb-5 mt-5">
                <div class="pricing card-deck flex-column flex-md-row mb-3">
                    <div class="card card-pricing text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Basico</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">
                                $<span class="price">49.990</span><span class="h6 text-muted ml-2">/ mensual</span>
                            </h1>
                        </div>
                        <div class="card-body pt-0">
                            <ul class="list-unstyled mb-4">
                                <li><b>100</b> Documentos</li>
                                <li><b>15 </b>Horas Capacitacion</li>
                                <li><b>30 </b>Cuentas de trabajadores</li>
                                <li><b>130 </b>Codigos Qr</li>
                                <li><b>1 </b>Empresa administrada</li>
                                <li><b>Acceso a la aplicacion movil</b></li>
                                <li><b>Asesoria</b></li>
                            </ul>
                            <button type="button" class="btn btn-outline-secondary mb-3">Lo quiero</button>
                        </div>
                    </div>
                    <div class="card card-pricing popular shadow text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Estandar</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">
                                $<span class="price">99.990</span><span class="h6 text-muted ml-2">/ mensual</span>
                            </h1>
                        </div>
                        <div class="card-body pt-0">
                            <ul class="list-unstyled mb-4">
                                <li> <b>300 </b>Documentos</li>
                                <li><b>30 </b>Horas Capacitacion</li>
                                <li><b>60 </b>Cuentas de trabajadores</li>
                                <li><b>260 </b>Codigos Qr</li>
                                <li><b>2 </b>Empresa administrada</li>
                                <li><b>Acceso a la aplicacion movil</b></li>
                                <li><b>Asesoria</b></li>
                            </ul>
                            <a href="#" target="_blank" class="btn btn-primary mb-3">Lo quiero</a>
                        </div>
                    </div>
                    <div class="card card-pricing text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Avanzado</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="45">
                                $<span class="price">149.990</span><span class="h6 text-muted ml-2">/ mensual</span>
                            </h1>
                        </div>
                        <div class="card-body pt-0">
                            <ul class="list-unstyled mb-4">
                                <li><b>600 </b>Documentos</li>
                                <li><b>50 </b>Horas Capacitacion</li>
                                <li><b>100 </b>Cuentas de trabajadores</li>
                                <li><b>400 </b>Codigos Qr</li>
                                <li><b>3 </b>Empresa administrada</li>
                                <li><b>Acceso a la aplicacion movil</b></li>
                                <li><b>Asesoria</b></li>
                            </ul>
                            <button type="button" class="btn btn-outline-secondary mb-3">Lo quiero</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--fin precios-->
    <!--novedades-->
    <section id="noticias" class="mb-5 sep">
        <!--main  id="services"-->
        <div class="container">

            <div class="heading">
                <h2>Ultimas <strong> Novedades</strong></h2>
                <p>Cosas que quizas te interen</p>
            </div>
            <hr>
            <div class="row">
                <!--Lista de servicios-->
                <div class="col-12 col-md-9">
                    <!--1 articulo-->
                    <div class="row mb-5">
                        <div class="col-3">
                            <img src="~/PaginaHome/images/numero1.jpg" class="img-fluid" alt="">
                            <p class="lead text-center">18/11/2018</p>
                        </div>
                        <div class="col-9">
                            <a href="#">
                                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                            </a>

                            <a href="#"><span class="badge badge-primary">Primary</span></a>
                            <a href="#"><span class="badge badge-secondary">Secondary</span></a>
                            <a href="#"><span class="badge badge-success">Success</span> </a>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam fuga expedita.
                                Error obcaecati blanditiis nisi vero cupiditate molestias iusto dolor! Ad minima animi
                                autem,
                                quam nisi corporis placeat officiis in nobis odit similique libero provident earum
                                laboriosam
                                eaque nostrum vel fugit ratione debitis iure! Rem laborum ducimus impedit ipsa.
                            </p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eum.</p>

                            <a href="" class="btn btn-warning btn btn-sm">Leer más...</a>
                        </div>
                    </div>
                    <!--2 articulo-->
                    <div class="row mb-5">
                        <div class="col-3">
                            <img src="~/PaginaHome/images/numero2.png" class="img-fluid" alt="">
                            <p class="lead text-center">28/11/2018</p>
                        </div>
                        <div class="col-9">
                            <a href="#">
                                <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                            </a>

                            <a href="#"><span class="badge badge-primary">Primary</span></a>
                            <a href="#"><span class="badge badge-secondary">Secondary</span></a>
                            <a href="#"><span class="badge badge-success">Success</span> </a>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam fuga expedita.
                                Error obcaecati blanditiis nisi vero cupiditate molestias iusto dolor! Ad minima animi
                                autem,
                                quam nisi corporis placeat officiis in nobis odit similique libero provident earum
                                laboriosam
                                eaque nostrum vel fugit ratione debitis iure! Rem laborum ducimus impedit ipsa.
                            </p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eum.</p>

                            <a href="" class="btn btn-warning btn btn-sm">Leer más...</a>
                        </div>
                    </div>

                    <!--Cambio de paginas-->

                    <div class="btn-toolbar d-flex justify-content-center mb-3 " role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary active">Inicio</button>
                            <button type="button" class="btn btn-secondary ">1</button>
                            <button type="button" class="btn btn-secondary">2</button>
                            <button type="button" class="btn btn-secondary">3</button>
                            <button type="button" class="btn btn-secondary">4</button>
                            <button type="button" class="btn btn-secondary">5</button>
                            <button type="button" class="btn btn-secondary">6</button>
                            <button type="button" class="btn btn-secondary">7</button>
                            <button type="button" class="btn btn-secondary">8</button>
                            <button type="button" class="btn btn-secondary">9</button>
                            <button type="button" class="btn btn-secondary active">Final</button>

                        </div>

                    </div>

                </div>
                <!--aside-->
                <div class="col-12 col-md-3">
                    <!--cards-->
                    <div class="card bg-primary text-white text-center p-3 mb-5">
                        <blockquote class="blockquote mb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    Someone famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card bg-success text-white text-center p-3 mb-5">
                        <blockquote class="blockquote mb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    Someone famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card bg-danger text-white text-center p-3 mb-5">
                        <blockquote class="blockquote mb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    Someone famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>

                    <!--fin cards-->
                </div>
                <!--din aside-->
            </div>
        </div>
        <!--fin main  -->
    </section>
    <!--fin novedades-->
    <!--preguntas y respuestas-->
    <section id="faq" class="sec">
        <div class="container">
            <div class="heading">
                <h2> <strong>FAQ</strong></h2>
                <p>Preguntas Frecuentes</p>
            </div>
            <div class="row mb-5 mt-5">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3>Que hace la aplicacion movil?</h3>
                    <p>
                        Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud
                        anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                        adipisicing cupidatat.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3>Como es su servicio post-venta?</h3>
                    <p>
                        Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud
                        anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                        adipisicing cupidatat.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3>Cual es la version de Android necesaria?</h3>
                    <p>
                        Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud
                        anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                        adipisicing cupidatat.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3>Puedo contratar el plan basico y luego contratar le plan premium?</h3>
                    <p>
                        Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud
                        anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                        adipisicing cupidatat.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3>Cuanto tiempo puedo estar sin pagar?</h3>
                    <p>
                        Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud
                        anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                        adipisicing cupidatat.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3>Que asesoria prestan o como funciona eso?</h3>
                    <p>
                        Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud
                        anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                        adipisicing cupidatat.
                    </p>
                </div>
            </div> <!-- /faq-content -->
        </div>
    </section>
    <!-- fin faq -->
    <!--MODAL LOGIN-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Inicio Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                               aria-controls="contact" aria-selected="false">Recuperar Cuenta</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <form class="form-signin">
                                    <img class="mb-5 mt-5" src="~/PaginaHome/images/Logo_Radix_v3.png" alt="" width="200" height="80">

                                    <label for="inputEmpresa" class="sr-only ">Empresa</label>
                                    <input type="text" id="ObjEmpresas_Emp_Nom" name="ObjEmpresas.Emp_Nom" class="form-control mb-3" placeholder="Empresa"
                                           required autofocus>
                                    <label for="inputCorreo" class="sr-only ">Correo electronico</label>
                                    <input type="email" id="ObjLogin_Email" name="ObjLogin.Email" class="form-control mb-3" placeholder="Correo electronico"
                                           required autofocus>
                                    <label for="inputContraseña" class="sr-only">Contraseña</label>
                                    <input type="password" id="ObjLogin_Password" name="ObjLogin.Password" class="form-control mb-3" placeholder="Contraseña"
                                           required>
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input id="ObjLogin_RememberMe" name="ObjLogin.RememberMe" type="checkbox" value="remember-me"> Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                                    <p class="mt-3 mb-3 text-muted">&copy; 2018-2019</p>
                                </form>
                            }
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                <form class="form-signin">
                                    <img class="mb-5 mt-5" src="~/PaginaHome/images/Logo_Radix_v3.png" alt="" width="200" height="80">

                                    <label for="inputEmp" class="sr-only ">Empresa</label>
                                    <input type="text" id="ObjEmpresas_Emp_Nom" name="ObjEmpresas.Emp_Nom" class="form-control mb-3" placeholder="Empresa"
                                           required autofocus>
                                    <label for="inputEmail" class="sr-only ">Correo electronico</label>
                                    <input type="email" id="ObjRegistrar_Email" name="ObjRegistrar.Email" class="form-control mb-3" placeholder="Correo electronico"
                                           required autofocus>
                                    <label for="inputPass" class="sr-only">Contraseña</label>
                                    <input type="password" id="ObjRegistrar_Password" name="ObjRegistrar.Password" class="form-control mb-3" placeholder="Contraseña"
                                           required>
                                    <label for="inputConfPass" class="sr-only">Confirmar Contraseña</label>
                                    <input type="password" id="ObjRegistrar_ConfirmPassword" name="ObjRegistrar.ConfirmPassword" class="form-control mb-3" placeholder="Confirmar Contraseña"
                                           required>

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
                                    <p class="mt-3 mb-3 text-muted">&copy; 2018-2019</p>
                                </form>
                            }
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--modal contactanos-->
    <div class="modal fade " id="contacto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contactar a Radix</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="email" class="form-control" id="recipient-name" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text" required autofocus></textarea>
                        </div>
                        <div class="container text-center">
                            <button class="btn col-lg-5 col-md-5 btn-primary" type="submit">Enviar</button>
                            <button type="submit" class="btn btn-secondary col-lg-5 col-md-5" data-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- <a href="#" id="scrollarrow">Scroll up this page</a>  -->
    <div id="go-top" style="display: none;">
        <a class="smoothscroll" title="Back to Top" href="#top"><i class="fas fa-chevron-circle-up"></i></a>
    </div>

    <!--footer fixed-bottom-->
    <footer class="section footer-classic context-dark bg-image " style="background: #2d3246;padding: 30px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-xl-3 col-sm-12">
                    <div class="pr-xl-4">
                        <a class="brand" href="index.html">
                            <img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png"
                                 alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x">
                        </a>
                        <p>Somos una empresa desarrolladora de plataformas orientadas a las pequeñas y medianas empresas agricolas.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Radix</span><span>. </span><span>Todos los derechos resevados.</span></p>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 col-sm-12">
                    <h5>Donde Encontrarnos</h5>
                    <dl class="contact-list">
                        <dt>Direccion:</dt>
                        <dd>Curico,Chile</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:#">radix@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd>
                            <a href="tel:#">+569 97126974</a> <span>o al</span> <a href="tel:#">+569 912345678</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-3 col-xl-3 col-sm-12">
                    <h5>Links</h5>
                    <ul class="contact-list ">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xl-3 col-sm-12">
                    <h5>Redes Sociales</h5>
                    <ul class="contact-list ">
                        <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"> Twitter</i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div id="go-top" style="display: none;">
        <a class="smoothscroll" title="Back to Top" href="#top"><i class="fas fa-chevron-circle-up"></i></a>
    </div>
    <!--fin footer-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
            crossorigin="anonymous"></script>
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4893307.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script>
        $(window).scroll(function () {
            if ($("#menu1").offset().top > 105) {
                document.getElementById("go-top").style = "display: block"
            } else {
                document.getElementById("go-top").style = "display: none;"
            }
        });
    </script>
    <script>
        $(window).scroll(function () {
            if ($("#menu").offset().top > 56) {
                $("#menu").addClass("bg-dark");
                $("#menu1").addClass("bg-dark")

            } else {
                $("#menu").removeClass("bg-dark");
                $("#menu1").removeClass("bg-dark");
            }
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(window).scroll(function () {
            if ($("#menu1").offset().top > 120) {
                $("#btn").removeClass("active");

            } else {
                $("#btn").addClass("active");
            }
        });
    </script>

</body>

</html >
